.mainContainer{
    margin-bottom: -100px;
}

.buttonStyle{
    border: 1px solid #e4c590;
    border-radius: 0;
    color: #e4c590;
}

.buttonStyle:hover{
background-color: #e4c590;
    color: black;
}