.dishBackground {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.dishDescription{
    background-color: #0e0d0c;
}

.dimPrice{
    color:#595653
}

.buttonStyle{
    border: 1px solid #e4c590;
    border-radius: 0;
    color: #e4c590;
}

.buttonStyle:hover{
background-color: #e4c590;
    color: black;
}