.mainContainer{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color:#0e0d0c;
}
.separatorImage{
    height: 13px;
     width: 100px;
  }

.description{
    max-width: 420px;
    line-height:  1.85em;
}

.pattern{
    position: relative;
    width: 140px;
    height: 402px;
}